h3 {
    font-size: 45px;
    text-align: center;
    color: tomato;
    border-bottom: 1px solid gray;
    padding: 20px;
    margin: 0px;
}
#choose{
    font-size: 25px;
    text-align: center;
    color: black;
    padding: 20px;
    border-bottom: 1px solid gray;
    margin: 0px;
}
#grid{
    padding-left: 50px;
    font-size:20px;
    display: grid;
    grid-template-columns: 150px 300px 1fr;
}
#grid ol{
    border-right: 1px solid gray;
    width: 85px;
    margin: 0px;
    padding: 30px;
}
#grid #ingrid{
    padding-left: 20px;
    margin: 0px;
    display:inline;
}
#grid #des{
    padding-top: 70px;
}